<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">


    <!-- online extra css and java -->

    <!-- icon style file -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->

    <!-- owl carousel For silding -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" type="text/css" media="all"> -->
	<link rel="stylesheet" href="{% static 'css/all.min.css'%}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/slick.css'%}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static 'css/simple-line-icons.css'%}" type="text/css" media="all">

    <!-- balloo bhai -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap">
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->



    <title>{%block title%} {%endblock%}</title>
    <!-- logo image  -->
    <link rel="shortcut icon" type="image/x-icon" href="media/logo.jpg">
</head>

<body>
    {%include 'header.html'%}
    {%block content%}
    <p style="height: 56px;"></p>
    {%endblock%}

    {% include 'footer.html' %}

    <script>
         M.AutoInit();
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>

    <!-- for sliding -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>

<script>
    $(document).ready(function(){
  $(".owl-carousel").owlCarousel(
  {
    loop: true,

      autoplay: true,

      nav: false,
      responsiveClass: true,
    responsive:{
        0:{
            items:1,
            nav:true
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:3,
            nav:true,
            loop:false
        }
    }

  }
  );
});




</script>

</body>

</html>