<footer class="page-footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Shantvi</h5>
          <p class="grey-text text-lighten-4">This Channel contains important updates for cbse board as well as up board which will be very useful in this pandemic period . </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Direct Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCfuRYH1ISIVjK65n_gfti7Q">Youtube</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="/">Blogs</a></li>
            <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright
      <a class="grey-text text-lighten-4 right" href="/admin">ADMIN login</a>
      </div>
    </div>
  </footer>