<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  
  {% for cat in cats %}

  <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>

  {% endfor %}

</ul>

<!-- style="display: flex; position: fixed;" -->
<nav class="navbar-fixed nav nav-cont">
    <div class="nav-wrapper">
      <!-- img and logo laga ek line ko do baar likh ke ya fir ek div  -->
      <a href="/" class="brand-logo">Shantvi</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/tool">Tool</a></li> -->
        {% for cat in cats %}

        <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>

        {% endfor %}
        <li><a href="/contact">Contact</a></li>
        <!-- <li><a href="/admin">Admin</a></li> -->
      </ul>
    </div>
  
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Home</a></li>
        <li><a href="/tool">Tool</a></li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1">CATEGORY <i
              class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        <li><a href="/contact">Contact</a></li>
        <!-- <li><a href="/admin">Admin</a></li> -->
</ul> 